sacCer3.fasta
image_test.html
plant.png
sequence_to_codon_usage.py
normal_distribution_graph.html
weatherdata/daily_averages_2014.csv
weatherdata/daily_averages_2015.csv
weatherdata/daily_averages_2017.csv
weatherdata/daily_averages_2019.csv
weatherdata/daily_averages_2018.csv
weatherdata/daily_averages_2016.csv
weatherdata/daily_averages_2021.csv
weatherdata/daily_averages_2022.csv
weatherdata/daily_averages_2023.csv
weatherdata/daily_averages_2020.csv
weatherdata/daily_averages_2024.csv
weatherdata/2014-2024.csv
